{% extends 'base.html' %} {% block content %}
<h1>AIRTIME</h1>


<br>
<code>
    <h2>Africa's Talking AIRTIME Services help Developers </h2> 
    <br>
    <p>We help <strong>accelerate the development</strong> time by providing an easy to use API. 
    You can easily and effectively engage with your users or customers through Text Messages.</p> 
    <br>
    
    <p>
        We provide a variety of communication and payments API products that are everything you need to build high impact
        mobile engagement solutions. Our platform allows to you work on building superior customer engagement experiences
        without the complexity that comes from working directly with mobile operators.
    </p>
</article>   

    </code> {% endblock %}