{% extends 'base.html' %}

{% block content  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AT Payments APIs for Africa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A unified API platform for software developers in Africa building SMS, USSD, Voice, Payments and Airtime applications ">
    <h1>AT Mombasa Workshop</h1>
</head>
	<section class="banner">
		<article class="text">
            <h2>Powering Communications Solutions Across Africa</h2>
            <br>
			<p>
				With simplified access to telco infrastructure, developers use Africa's Talking powerful SMS, USSD, Voice, Airtime and Payments APIs
				to bring their ideas to life, as they build and sustain scalable businesses.
			</p>
		</article>
		
	</section>
	
        <h3><div>
            <nav class="Social">
                <h4>Find me</h4>
                <a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/abaeakili/"></a>
                <a class="fa fa-twitter" target="_blank" href="https://twitter.com/abaeakili/"></a>
                <a class="fa fa-github" target="_blank" href="https://abaeakili.github.io/"></a>
                <a class="fa fa-rss" target="_blank" href="https://bit.ly/abaeakili/"></a>
            </nav> 
        </div>
        
        </h3>
        <blockquote>

        </blockquote>
{% endblock  %}