{% extends 'base.html' %} {% block content %}
<h1>PAYMENTS</h1>


<br>
<code>
    <h2>Africa's Talking PAYMENTS API's Services</h2> 
    <br>
    <p>Help <strong>Developers build solutions</strong> tand disburse money through mobile money processor channnels..</p> 
    <br>
    
    <p>
        We provide a variety of communication and payments API products that are everything you need to build high impact
        mobile engagement solutions. Our platform allows to you work on building superior customer engagement experiences
        without the complexity that comes from working directly with mobile operators.
    </p>
    <br>
   
</article>   

    </code> {% endblock %}