<section class="products">
    <article class="text">
        <h3>Products</h3>
        <p>
            We provide a variety of communication and payments API products that are everything you need to build high impact
            mobile engagement solutions. Our platform allows to you work on building superior customer engagement experiences
            without the complexity that comes from working directly with mobile operators.
        </p>
    </article>
    <article class="product_grid">
        <div class="product_column">
            <a href="/sms" class="product_card link">
                <h4>SMS</h4>
                <p>Engage easily and effectively with your customers through text messaging.</p>
                <span>Learn more</span>
            </a>
            
            <a href="/payments" class="product_card link">
                <h4>Payments</h4>
                <p>Build solutions to collect and disburse money through mobile money processor channels</p>
                <span>Learn more</span>
            </a>
        </div>
        <div class="product_column">
            <a href="/ussd" class="product_card link">
                <h4>USSD</h4>
                <p>Build real-time interactive text based solutions that can be accessed on every type of mobile phone.</p>
                <span>Learn more</span>
            </a>
            <a href="/airtime" class="product_card link">
                <h4>Airtime</h4>
                <p>Incentivise or make micro payments to your users by instantly sending virtual airtime.</p>
                <span>Learn more</span>
            </a>
        </div>
        <div class="product_column">
            <a href="/voice" class="product_card link">
                <h4>Voice</h4>
                <p>Enrich your users call experience by adding features that would be inaccessible using normal physical phone lines</p>
                <span>Learn more</span>
            </a>
        </div>
    </article>
</section>