{% extends 'base.html' %} {% block content %}
<h1>VOICE</h1>


<br>
<code>
    <h2>Africa's Talking VOICE Services help Developers </h2> 
    <br>
    <p>Enrich your call experience by adding features that would have otherwise be inaccessible using 
        the normal physical lines. AT's fully featured API gives any developer a wide number of
         actions that you can use together to build intuitive solutions. </p>

    <br>
    
    <p>
        We provide a variety of communication and payments API products that are everything you need to build high impact
        mobile engagement solutions. Our platform allows to you work on building superior customer engagement experiences
        without the complexity that comes from working directly with mobile operators.
    </p>
</article>   

    </code> {% endblock %}